<%- include('includes/_header.ejs')  %>

<%- include('includes/_navigation.ejs') %>

    <h1>Some error occured! </h1>
    <p>
        We're fixing on this, sorry for this inconvinience!
    </p>
<%- include('includes/_end.ejs') %>
