<%- include('../includes/_header.ejs') %>

    </head>

<body>
  <%- include('../includes/_navigation.ejs') %>
    
<!-- Slider Revolution Start -->
<div class="rev_slider_wrapper">
    <div class="rev_slider" data-version="5.0">
      <ul>
        <!-- SLIDE 1 -->
        <li data-index="rs-1" data-transition="random" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="images/bg/bg6.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
          <!-- MAIN IMAGE -->
          <img src="images/bg/bgBooks1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption BigBold-Title tp-resizeme rs-parallaxlevel-0 text-uppercase"
            id="rs-1-layer-1"

            data-x="['left','left','left','left']" 
            data-hoffset="['50','50','30','17']" 
            data-y="['bottom','bottom','bottom','bottom']" 
            data-voffset="['110','110','180','160']" 
            data-fontsize="['105','100','70','60']"
            data-lineheight="['100','90','60','60']"
            data-width="['none','none','none','400']"
            data-height="none"
            data-whitespace="['nowrap','nowrap','nowrap','normal']"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-mask_in="x:0px;y:[100%];" 
            data-mask_out="x:inherit;y:inherit;" 
            data-start="500" 
            data-splitin="none" 
            data-splitout="none" 
            data-basealign="slide" 
            data-responsive_offset="on"
            style="z-index: 6; white-space: nowrap;"> Books <span class="text-theme-colored">Store</span>
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption BigBold-SubTitle tp-resizeme rs-parallaxlevel-0"
            id="rs-1-layer-2"

            data-x="['left','left','left','left']" 
            data-hoffset="['55','55','33','20']" 
            data-y="['bottom','bottom','bottom','bottom']" 
            data-voffset="['40','1','74','58']" 
            data-fontsize="['15','15','15','13']"
            data-lineheight="['24','24','24','20']"
            data-width="['410','410','410','280']"
            data-height="['60','100','100','100']"
            data-whitespace="normal"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-start="650" 
            data-splitin="none" 
            data-splitout="none" 
            data-basealign="slide" 
            data-responsive_offset="on"
            style="z-index: 7; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal;">An Online Books Store where you can buy any kind of book with affordable prices. 
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption btn btn-default btn-transparent btn-flat btn-lg pl-40 pr-40 rs-parallaxlevel-0"

            id="rs-1-layer-3"
            data-x="['left','left','left','left']" 
            data-hoffset="['470','480','30','20']" 
            data-y="['bottom','bottom','bottom','bottom']" 
            data-voffset="['50','50','30','20']" 
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-transform_idle="o:1;"
            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
            data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-start="650" 
            data-splitin="none" 
            data-splitout="none" 
            data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]'
            data-basealign="slide" 
            data-responsive_offset="on"
            style="z-index: 8; white-space: nowrap;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">SHOP NOW 
          </div>
        </li>

        <!-- SLIDE 2 -->
        <li data-index="rs-2" data-transition="random" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="images/bg/bg5.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
          <!-- MAIN IMAGE -->
          <img src="images/bg/bgBooks2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption BigBold-Title tp-resizeme rs-parallaxlevel-0 text-uppercase"
            id="rs-2-layer-1"

            data-x="['left','left','left','left']" 
            data-hoffset="['50','50','30','17']" 
            data-y="['bottom','bottom','bottom','bottom']" 
            data-voffset="['110','110','180','160']" 
            data-fontsize="['78']"
            data-lineheight="['60']"
            data-width="['none','none','none','400']"
            data-height="none"
            data-whitespace="['nowrap','nowrap','nowrap','normal']"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-mask_in="x:0px;y:[100%];" 
            data-mask_out="x:inherit;y:inherit;" 
            data-start="500" 
            data-splitin="none" 
            data-splitout="none" 
            data-basealign="slide" 
            data-responsive_offset="on"
            style="z-index: 6; white-space: nowrap;"><span class="text-theme-colored">READ</span> THE BOOKS
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption BigBold-SubTitle tp-resizeme rs-parallaxlevel-0"
            id="rs-2-layer-2"

            data-x="['left','left','left','left']" 
            data-hoffset="['55','55','33','20']" 
            data-y="['bottom','bottom','bottom','bottom']" 
            data-voffset="['40','1','74','58']" 
            data-fontsize="['15','15','15','13']"
            data-lineheight="['24','24','24','20']"
            data-width="['410','410','410','280']"
            data-height="['60','100','100','100']"
            data-whitespace="normal"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-start="650" 
            data-splitin="none" 
            data-splitout="none" 
            data-basealign="slide" 
            data-responsive_offset="on"
            style="z-index: 7; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal;">An Online Books Store where you can buy any kind of book with affordable prices. 
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption btn btn-default btn-transparent btn-flat btn-lg pl-40 pr-40 rs-parallaxlevel-0"

            id="rs-2-layer-3"
            data-x="['left','left','left','left']" 
            data-hoffset="['470','480','30','20']" 
            data-y="['bottom','bottom','bottom','bottom']" 
            data-voffset="['50','50','30','20']" 
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-transform_idle="o:1;"
            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
            data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-start="650" 
            data-splitin="none" 
            data-splitout="none" 
            data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]'
            data-basealign="slide" 
            data-responsive_offset="on"
            style="z-index: 8; white-space: nowrap;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">SHOP NOW 
          </div>
        </li>

        <!-- SLIDE 3 -->
        <li data-index="rs-3" data-transition="random" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="images/bg/bg1.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
          <!-- MAIN IMAGE -->
          <img src="images/bg/bgBooks4.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption BigBold-Title tp-resizeme rs-parallaxlevel-0"
            id="rs-3-layer-1"

            data-x="['left','left','left','left']" 
            data-hoffset="['50','50','30','17']" 
            data-y="['bottom','bottom','bottom','bottom']" 
            data-voffset="['110','110','180','160']" 
            data-fontsize="['110','100','70','60']"
            data-lineheight="['100','90','60','60']"
            data-width="['none','none','none','400']"
            data-height="none"
            data-whitespace="['nowrap','nowrap','nowrap','normal']"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-mask_in="x:0px;y:[100%];" 
            data-mask_out="x:inherit;y:inherit;" 
            data-start="500" 
            data-splitin="none" 
            data-splitout="none" 
            data-basealign="slide" 
            data-responsive_offset="on"
            style="z-index: 6; white-space: nowrap;"><span class="text-theme-colored">CONTACT</span> US
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption BigBold-SubTitle tp-resizeme rs-parallaxlevel-0"
            id="rs-3-layer-2"

            data-x="['left','left','left','left']" 
            data-hoffset="['55','55','33','20']" 
            data-y="['bottom','bottom','bottom','bottom']" 
            data-voffset="['40','1','74','58']" 
            data-fontsize="['15','15','15','13']"
            data-lineheight="['24','24','24','20']"
            data-width="['410','410','410','280']"
            data-height="['60','100','100','100']"
            data-whitespace="normal"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-start="650" 
            data-splitin="none" 
            data-splitout="none" 
            data-basealign="slide" 
            data-responsive_offset="on"
            style="z-index: 7; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal;">A Premium Revolution Slider Template for your Website Highlights & Multi-Media Content. 
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption btn btn-default btn-transparent btn-flat btn-lg pl-40 pr-40 rs-parallaxlevel-0"

            id="rs-3-layer-3"
            data-x="['left','left','left','left']" 
            data-hoffset="['470','480','30','20']" 
            data-y="['bottom','bottom','bottom','bottom']" 
            data-voffset="['50','50','30','20']" 
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-transform_idle="o:1;"
            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
            data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
            data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-start="650" 
            data-splitin="none" 
            data-splitout="none" 
            data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]'
            data-basealign="slide" 
            data-responsive_offset="on"
            style="z-index: 8; white-space: nowrap;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">SHOP NOW 
          </div>
        </li>
      </ul>
    </div><!-- end .rev_slider -->
  </div>
  <!-- end .rev_slider_wrapper -->
  <script>
    $(document).ready(function(e) {
      $(".rev_slider").revolution({
        sliderType:"standard",
        sliderLayout: "auto",
        dottedOverlay: "none",
        delay: 5000,
        navigation: {
            keyboardNavigation: "off",
            keyboard_direction: "horizontal",
            mouseScrollNavigation: "off",
            onHoverStop: "off",
            touch: {
                touchenabled: "on",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
            },
            arrows: {
                style: "gyges",
                enable: true,
                hide_onmobile: false,
                hide_onleave: true,
                hide_delay: 200,
                hide_delay_mobile: 1200,
                tmp: '',
                left: {
                    h_align: "left",
                    v_align: "center",
                    h_offset: 0,
                    v_offset: 0
                },
                right: {
                    h_align: "right",
                    v_align: "center",
                    h_offset: 0,
                    v_offset: 0
                }
            },
            bullets: {
              enable:true,
              hide_onmobile:true,
              hide_under:960,
              style:"zeus",
              hide_onleave:false,
              direction:"horizontal",
              h_align:"right",
              v_align:"bottom",
              h_offset:80,
              v_offset:50,
              space:5,
              tmp:'<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title">{{title}}</span>'
          }
        },
        responsiveLevels: [1240, 1024, 778, 480],
        visibilityLevels: [1240, 1024, 778, 480],
        gridwidth: [1170, 1024, 778, 480],
        gridheight: [550, 768, 960, 720],
        lazyType: "none",
        parallax: {
            origo: "slidercenter",
            speed: 1000,
            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
            type: "scroll"
        },
        shadow: 0,
        spinner: "off",
        stopLoop: "on",
        stopAfterLoops: 0,
        stopAtSlide: -1,
        shuffle: "off",
        autoHeight: "off",
        fullScreenAutoWidth: "off",
        fullScreenAlignForce: "off",
        fullScreenOffsetContainer: "",
        fullScreenOffset: "0",
        hideThumbsOnMobile: "off",
        hideSliderAtLimit: 0,
        hideCaptionAtLimit: 0,
        hideAllCaptionAtLilmit: 0,
        debugMode: false,
        fallbacks: {
            simplifyAll: "off",
            nextSlideOnWindowFocus: "off",
            disableFocusListener: false,
        }
      });
    });
  </script>
  <!-- Slider Revolution Ends -->

</div>
</section>

<!-- Section New -->

<section>
  <div class="container pt-70">
    <div class="section-title text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="text-uppercase mt-0">Some Famous Books</h3>
          <div class="title-icon">
            <i class="flaticon-charity-hand-holding-a-heart"></i>
          </div>
          <p>One glance at a book and you hear the voice of another person, perhaps someone dead for 1,000 years. To read is to voyage through time.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="news-carousel owl-nav-top mb-sm-80" data-dots="true">
          <div class="item">
            <article class="post clearfix maxwidth600 mb-sm-30 wow fadeInRight" data-wow-delay=".2s">
              <div class="entry-header">
                <div class="post-thumb thumb"> <img src="images/blog/6.jpg" alt="" class="img-responsive img-fullwidth"> </div>
                <div class="entry-meta meta-absolute text-center pl-15 pr-15">
                <div class="display-table">
                  <div class="display-table-cell" style="color: white;">
                    <ul>
                      <li><i class="fa fa-thumbs-o-up"></i> 265 <br> Likes</li>
                      <li class="mt-20"><i class="fa fa-comments-o"></i> 72 <br> comments</li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
              <div class="entry-content border-1px p-20">
                <h5 class="entry-title mt-0 pt-0">Guns, Germs, and Steel</h5>
                <p class="text-left mb-20 mt-15 font-13">If someone has any interest in understanding how the world came to be as it is, you'll find this book highly rewarding.</p>
                <a class="btn btn-flat btn-dark btn-theme-colored btn-sm pull-left" href="/login">Buy Now</a>
                <div class="clearfix"></div>
              </div>
            </article>
          </div>
          <div class="item">
            <article class="post clearfix maxwidth600 mb-sm-30 wow fadeInRight" data-wow-delay=".4s">
              <div class="entry-header">
                <div class="post-thumb thumb"> <img src="images/blog/8.jpg" alt="" class="img-responsive img-fullwidth"> </div>
                <div class="entry-meta meta-absolute text-center pl-15 pr-15">
                <div class="display-table">
                  <div class="display-table-cell" style="color: white;">
                    <ul>
                      <li><i class="fa fa-thumbs-o-up"></i> 265 <br> Likes</li>
                      <li class="mt-20"><i class="fa fa-comments-o"></i> 72 <br> comments</li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
              <div class="entry-content border-1px p-20">
                <h5 class="entry-title mt-0 pt-0">Lost Islamic History</h5>
                <p class="text-left mb-20 mt-15 font-13">Reclaiming Muslim Civilisation from the Past is a book on Islamic history, written by American researcher and historian Firas Alkhateeb.</p>
                <a class="btn btn-flat btn-dark btn-theme-colored btn-sm pull-left" href="/login">Buy Now</a>
                <div class="clearfix"></div>
              </div>
            </article>
          </div>
          <div class="item">
            <article class="post clearfix maxwidth600 mb-sm-30 wow fadeInRight" data-wow-delay=".6s">
              <div class="entry-header">
                <div class="post-thumb thumb"> <img src="images/blog/3.jpg" alt="" class="img-responsive img-fullwidth"> </div>
                <div class="entry-meta meta-absolute text-center pl-15 pr-15">
                <div class="display-table">
                  <div class="display-table-cell" style="color: white;">
                    <ul>
                      <li><i class="fa fa-thumbs-o-up"></i> 265 <br> Likes</li>
                      <li class="mt-20"><i class="fa fa-comments-o"></i> 72 <br> comments</li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
              <div class="entry-content border-1px p-20">
                <h5 class="entry-title mt-0 pt-0">One Hundred Years of Solitude</h5>
                <p class="text-left mb-20 mt-15 font-13">One Hundred Years of Solitude focuses on seven generations of the Buendía family in the city of Macondo.</p>
                <a class="btn btn-flat btn-dark btn-theme-colored btn-sm pull-left" href="/login">Buy Now</a>
                <div class="clearfix"></div>
              </div>
            </article>
          </div>
          <div class="item">
            <article class="post clearfix maxwidth600 mb-sm-30" >
              <div class="entry-header">
                <div class="post-thumb thumb"> <img src="images/blog/2.jpg" alt="" class="img-responsive img-fullwidth"> </div>
                <div class="entry-meta meta-absolute text-center pl-15 pr-15">
                <div class="display-table">
                  <div class="display-table-cell" style="color: white;">
                    <ul>
                      <li><i class="fa fa-thumbs-o-up"></i> 265 <br> Likes</li>
                      <li class="mt-20"><i class="fa fa-comments-o"></i> 72 <br> comments</li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
              <div class="entry-content border-1px p-20">
                <h5 class="entry-title mt-0 pt-0">The Crusades Through Arab Eyes</h5>
                <p class="text-left mb-20 mt-15 font-13">Under Saladin, an unstoppable Muslim army inspired by prophets and poets finally succeeded in destroying the most powerful Crusader kingdoms.</p>
                <a class="btn btn-flat btn-dark btn-theme-colored btn-sm pull-left" href="#">Buy Now</a>
                <div class="clearfix"></div>
              </div>
            </article>
          </div>
          <div class="item">
            <article class="post clearfix maxwidth600 mb-sm-30">
              <div class="entry-header">
                <div class="post-thumb thumb"> <img src="images/blog/think.jpg" alt="" class="img-responsive img-fullwidth"> </div>
                <div class="entry-meta meta-absolute text-center pl-15 pr-15">
                <div class="display-table">
                  <div class="display-table-cell" style="color: white;">
                    <ul>
                      <li><i class="fa fa-thumbs-o-up" ></i> 265 <br> Likes</li>
                      <li class="mt-20"><i class="fa fa-comments-o"></i> 72 <br> comments</li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
              <div class="entry-content border-1px p-20">
                <h5 class="entry-title mt-0 pt-0">Think and Grow Rich</h5>
                <p class="text-left mb-20 mt-15 font-13">Think and Grow Rich is a book written by Napoleon Hill in 1937 and promoted as a personal development and self-improvement book...</p>
                <a class="btn btn-flat btn-dark btn-theme-colored btn-sm pull-left" href="/login">Buy Now</a>
                <div class="clearfix"></div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 <!-- divider: Gallery -->
 <section id="gallery" class="divider bg-lighter">
  <div class="container-fluid">
    <div class="section-title text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="text-uppercase mt-0">Gallery</h3>
          <div class="title-icon">
            <i class="flaticon-charity-hand-holding-a-heart"></i>
          </div>
          <p>Buy Academic Books Online In Pakistan. This Books Store is Pakistan’s supplier of educational or academic textbooks.</p>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="gallery-isotope grid-5 gutter-small clearfix" data-lightbox="gallery">
      
            <!-- Portfolio Item Start -->
            <div class="gallery-item">
              <div class="thumb">
                <img alt="project" src="images/gallery/library14.jpg" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="styled-icons icon-dark icon-circled icon-theme-colored">
                      <a href="images/gallery/library14.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->
            
            <!-- Portfolio Item Start -->
            <div class="gallery-item">
              <div class="thumb">
                <img alt="project" src="images/gallery/library7.jpg" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="styled-icons icon-dark icon-circled icon-theme-colored">
                      <a href="images/gallery/library7.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->
            
            <!-- Portfolio Item Start -->
            <div class="gallery-item">
              <div class="thumb">
                <img alt="project" src="images/gallery/library8.jpg" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="styled-icons icon-dark icon-circled icon-theme-colored">
                      <a href="images/gallery/library8.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->
            
            <!-- Portfolio Item Start -->
            <div class="gallery-item">
              <div class="thumb">
                <img alt="project" src="images/gallery/library5.jpg" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="styled-icons icon-dark icon-circled icon-theme-colored">
                      <a href="images/gallery/library5.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->
            
            <!-- Portfolio Item Start -->
            <div class="gallery-item">
              <div class="thumb">
                <img alt="project" src="images/gallery/library10.jpg" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="styled-icons icon-dark icon-circled icon-theme-colored">
                      <a href="images/gallery/library10.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->
            
            <!-- Portfolio Item Start -->
            <div class="gallery-item">
              <div class="thumb">
                <img alt="project" src="images/gallery/library6.jpg" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="styled-icons icon-dark icon-circled icon-theme-colored">
                      <a href="images/gallery/library6.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->
            
            <!-- Portfolio Item Start -->
            <div class="gallery-item">
              <div class="thumb">
                <img alt="project" src="images/gallery/library12.jpg" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="styled-icons icon-dark icon-circled icon-theme-colored">
                      <a href="images/gallery/library12.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->
            
            <!-- Portfolio Item Start -->
            <div class="gallery-item">
              <div class="thumb">
                <img alt="project" src="images/gallery/library13.jpg" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="styled-icons icon-dark icon-circled icon-theme-colored">
                      <a href="images/gallery/library13.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->
            
            <!-- Portfolio Item Start -->
            <div class="gallery-item">
              <div class="thumb">
                <img alt="project" src="images/gallery/library11.jpg" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="styled-icons icon-dark icon-circled icon-theme-colored">
                      <a href="images/gallery/library11.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->
            
            <!-- Portfolio Item Start -->
            <div class="gallery-item">
              <div class="thumb">
                <img alt="project" src="images/gallery/library3.jpg" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="styled-icons icon-dark icon-circled icon-theme-colored">
                      <a href="images/gallery/library3.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Portfolio Item End -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--  -->




<script src="js/custom.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
      (Load Extensions only on Local File Systems ! 
       The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>



<%- include('../includes/_end.ejs') %>